.ligne {
  height: 3em;
}

.navbarlink {
  margin-top: 8px;
  margin-left: 1em;
}

.taskstyle {
  height: 250px;
}

.tasktitle {
  height: 2em;
}

.taskUsername {
  font-style: italic;
}

.taskbutton {
  margin-top: 5px;
  margin-left: 5px;
}

legend {
  font-size: 14px;
  font-weight: 700;
}
